.github_token
.github_orgname
.gitlab_token
.gitlab_group
.gitlab_instance
.tg_token
.tg_chat
.venv/
input/
tmp/
out/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
config.yml
.dumprx/
build/
dist/
*.egg-info/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
bin/oppo_*
bin/vmlinux*
