.github_token
.github_orgname
.gitlab_token
.gitlab_group
.gitlab_instance
.tg_token
.tg_chat
.venv/
.env
input/
tmp/
out/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
utils/oppo_*
utils/vmlinux*
utils/android_tools/
utils/pacextractor/
dumprx/utils/oppo_*
dumprx/utils/vmlinux*
dumprx/utils/android_tools/
dumprx/utils/pacextractor/
test_firmware.zip
